RewriteEngine On

# 1. Forzar HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 2. Redirigir www → sin www
RewriteCond %{HTTP_HOST} ^www\.lagrafik\.com$ [NC]
RewriteRule ^(.*)$ https://lagrafik.com/$1 [L,R=301]

# 3. React Router (SPA)
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
